* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    width: 100%;
    background-color: #cdced1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

header {
    top: 0;
    height: 150px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    width: 100%;
    margin-bottom: 12px;
    padding: 4px;
    transition: all .2s;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 150px;
}

.titulo a {
    text-decoration: none;
    color:#ffffff
}

.header__tittle {
    width: 450px;
    margin-left: 16px;
    color: #fff;
}

.list__directions {
    display: flex;
    position: absolute;
    right: 0;
}

.items__header:hover {
    color: #7e7f80;
}

.header__list {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.header__list ul li{
    list-style: none;
}

.header__list ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
    transition: all .3s;
}

/* One article */
.principal {
    width: 100%;
    margin: 20px 0;
    color: rgb(0, 0, 0);
    text-align: center;
}

.sistemas__operativos {
    margin: 12px 0;
}
.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.images div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 20px 0;
}

.ubuntu,.mac,.osx,.linux,.windows {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.ubuntu {
    background-image: url(img/ubuntu.png);
}

.mac {
    background-image: url(img/mac.png);
    background-size: 280px;
}
.osx {
    background-image: url(img/osx.svg);
}
.linux {
    background-image: url(img/linux.jpg);
}
.windows {
    background-image: url(img/windows.png);
}

.information__PC {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    text-align: left;
}

.information__PC h2 {
    text-align: center;
}
.hardware, .software{
    display: flex;
    width: 100%;
    margin-top: 8px;
    align-items: center;
    flex-direction: column;
}

.hardware__name, .software__name {
    width: 350px;
    height: 100%;
    text-align: center;
}

.software__information div {
    margin: 8px;
}

.information__one p:first-child {
    font-family: italic;
}

.information__two p:first-child {
    font-family: italic;
}

.hardware__information div {
    margin: 8px 0;
}

.list__hardware, .list__software {
    list-style: none;
}

.soft {
    font-weight: 500;
}

.list__software li:first-child {
    margin-top: 0;
}

.list__software {
    margin-left: 12px;
}

.list__software > li{
    margin: 8px 0;
}

.list__hardware > li {
    margin: 8px 0;
    width: 20%;
}

.list__hardware {
    display: flex;
    justify-content: space-around;
}

.list__perifericos {
    margin-left: 40px;
    list-style: square inside;
}

.list__hardware > li:last-child {
    margin-bottom: 0;
}

.list__software > li:last-child {
    margin-bottom: 0;
}

/* LENGUAJES DE PROGRAMACION */
.lenguajes__programacion {
    margin: 20px 0;
    width: 100%;
}

.lenguajes__programacion h2 {
    text-align: center;
}

.information__area {
    width: 100%;
    margin-top: 20px;
}

.areas__programacion {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

.information__area img {
    width: 150px;
    height: 150px;
}

.information__area h3 {
    text-align: center;
}

.areas__programacion > div h4 {
    text-align: center;
}

.areas__programacion > div > div:first-child {
    margin: 12px 0;
}

.areas__programacion > div > div:last-child {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.areas__programacion > div > div:last-child abbr {
    margin: 8px 0;
}
/* CABECERA */

.titulo {
    font-size: 40px;
}

.nombre {
    font-size: 16px;
}

/* Carta Sitio Web */
.img__description {
    height: 550px;
    width: 100%;
    margin: 20px auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-image: url(img/imagen1.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.img__description p {
    margin: 12px 0;
}

.img__description a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.img__description a:hover {
    opacity: 0.5;
}

/* Footer */
.contacto {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px 0;
}

.contacto .link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto .lineaUno, .lineaDos {
    width: 50%;
    height: 1px;
    background-color: #000000;
}

.link a {
    font-size: 20px;
    color: #000000;
}

.informacion {
    text-align: center;
    width: 100%;
    margin: 4px 0;
}

.informacion p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
}

.informacion p:nth-child(2) {
    font-size: 16px;
} 

.datos {
    width: 100%;
    height: 25px;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 4px;
}

/* RESPONSIVE DESIGN */

@media (max-width:768px) {
    /* HEADER */
    /* --- header tittle --- */
    .header__tittle {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 12px;
    }
    .header__list {
        display: none;
    }
}